@font-face {
    font-family:Crashed Scoreboard;
    src: url(fonts/Crashed\ Scoreboard.ttf);
}

body{
    background-color: #19244D ;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin: 100px;
    align-items: center;
}

button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #E7F0EA;
    background-color: #19244D;
    border: 2px solid #E7F0EA;
    border-radius: 10%;
}

p{
    margin: 0px;
}

.score{
    background-color: #0A0001;
    height: 100px;
    width: 180px;
    margin: none;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10%;
    text-align: center;
    color: #ff0000;
    font-family: Crashed Scoreboard;
    font-size: 90px;
}

.scoreboard{
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    justify-content: space-around;
}

.center{
    display: block;
    width:100px;
    margin-left: auto;
    margin-right: auto;
}